.DS_Store
esc.sql

front/node_modules/
front/dist/
back-js/node_modules/
back-js/dist/
back/storage/keys/
back/storage/encryptions/
back/storage/cache/
back/storage/logs/
back/storage/memory/
back/application.json
supabase/.temp/
